<div class="single-medium-column">
    <div class="card medium-column padded-card">
        <h1 class="card-item">Login</h1>
        <form method="POST" action="/login">
            <div class="form-item">
                    <label class="text-label" for="email">Email</label>
                    <input class="text-input login-text" type="email" name="email" id="email" required>
            </div>
            
            <div class="form-item">
                    <label class="text-label" for="password">Password</label>
                    <input class="text-input login-text" type="password" name="password" id="password" required>
            </div>
            <input class="action-link" type="submit" value="Login">
        </form>
    </div>
</div>