<div class="medium-column">
    <div class="card padded-card">
        <h1>List of Parks</h1>
            <% if logged_in? %>
                <a href="/parks/new" class="action-link card-item">Add New Park</a>
            <% end %>
        <% @parks.each do |park| %>
            <a href="/parks/<%=park.id%>">
                <div class ="sub-card">
                    <h3><%= park.name %></h3>
                    <h4 class=""><%= park.address %></h4>
                </div>
            </a>
        <% end %>
    </div>
</div>

<div class="medium-column">
    <div class="card padded-card">
    hi
    </div>
</div>

