<div class="large-column card stacked-container padded-card">
    <h1 class="card-item">Add New Park</h1>
    <form action="../parks" method="post">
        <div class="form-item">
            <label class="text-label"  for="name">Name*</label>
            <input class="text-input" id="name" type="text" name="name" required>
        </div>

        <div class="form-item">
            <label class="text-label" for="street">Street*</label>
            <input class="text-input" id="street" type="text" name="street" required>
        </div>

        <div class="form-item">
            <label class="text-label"  for="city">City*</label>
            <input class="text-input" id="city "type="text" name="city" required>
        </div>

        <div class="form-item">
            <label label class="text-label" for="state">State*</label>
            <select name="state" id="state" required>
                <% options_for_select = ['AK', 'AL', 'AR', 'AS', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UM', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY'] %>
                <% options_for_select.each do |state| %>
                        <option value="<%=state%>"><%=state%></option>
                <% end %>
            </select>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="skateboard_permitted" value ="false">
            <input class="ckeckbox-input" id="skateboard_permitted" type="checkbox" name="skateboard_permitted" value="true" checked>
            <label class="checkbox-label" for="skateboard_permitted">Skateboards Permitted</lablel>
        </div>

        <div class="form-item">
            <input type="hidden" name="scooter_permitted" value="false">
            <input class="ckeckbox-input" id="scooter_permitted" type="checkbox" name="scooter_permitted" value="true">
            <label class="checkbox-label" for="scooter_permitted">Scooters Permitted</lablel>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="bike_permitted" value ="false">
            <input class="ckeckbox-input" id="bike_permitted" type="checkbox" name="bike_permitted" value="true">
            <label class="checkbox-label" for="bike_permitted">Bikes Permitted</lablel>
        </div>

        <input class="action-link" type="submit" value="Create Park">
    </form>
</div>