<h1>Kickflip</h1>
<h2>Add New Park</h2>
    <form action="../parks" method="post">
        <input type ="text" name="title">
        <textarea name="content"></textarea>
        <input type="submit" value="create park">
    </form>