<div class="medium-column">
    <div class="card padded-card">
        <h1>Search results for <span class="search-query">"<%= @query %>"</span></h1>
        <% @parks.each do |park| %>
            <a href="/parks/<%=park.id%>">
                <div class ="sub-card">
                    <h3><%= park.name %></h3>
                    <h4 class=""><%= park.address %></h4>
                </div>
            </a>
        <% end %>
    </div>
</div>

<div class="medium-column">
    <div class="card padded-card">
        <h1>Find a Park</h1>
        <form action="/parks/search" method="post">
            <input class="text-input search-text" type="search" name="search">
            <button class="action-link" type="submit">Search</button>
        </form>
    </div>
</div>