html {
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding: 0 25px 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    font-family: 'Unica One';
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    text-decoration: none;
}

.page-title {
    margin-right: 35px;
    font-size: 25px;
    color: #0076FF;
}

.main-nav {
    font-size: 20px;
    margin-right: 20px;
    color: #545454;
}

.action-link {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Unica One';
    background-color: #0076FF;
    color: white;
    padding: 5px 25px;
    border-radius: 15px;
    border: none;
}

.secondary-link {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Unica One';
    border: 2px solid #0076FF;
    color: #0076FF;
    padding: 5px 25px;
    border-radius: 15px;
    height: 50px;
}

.action-link:hover {
    background-color: #0060D0;
}

.page-body {
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
}

.page-container {
    box-sizing: border-box;
    padding-top: 80px;
    width: 1000px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.large-column {
    width: 650px;
    box-sizing: border-box;
}

.stacked-container {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    overflow: hidden;
}

.two-part-card {
    /* padding: 30px; */
}

.flat-bottom-card {
    padding: 30px 30px 0px 30px;
}

.flat-top-card {
    padding: 15px 30px 15px 30px;
    background-color: #F4F4F4;
}

.single-column {
    padding: 30px;
}

.small-column {
    width: 260px;
    padding: 30px;
}

.card-item {
    display: inline-block;
    margin-bottom: 30px;
}

.form-item {
    margin-bottom: 15px;
    font-family: 'Roboto';
}

.form-item .text-label {
    display: inline-block;
    width: 100px;
}

.text-input {
    padding: 7px 15px;
    font-size: 14px;
    width: 250px;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
}

.time-input {
    padding: 7px 15px;
    font-size: 14px;
    width: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 15px;
}

.text-input:focus {
    outline: none;
    border: 1px solid #0060D0;
}

.form-item select {
    padding: 7px 15px;
    font-size: 14px;
    width: 100px;
    border: 1px solid #dbdbdb;
    border-radius: 0;
}

.form-item input:focus {
    outline: none;
    border: 1px solid #0060D0;
}

.checkbox-label {
    margin-left: 15px;
}

h1 {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    margin:0 0 15px 0;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    margin:0 0 10px 0;
    color: #343434;
}

h3 {
    font-family: 'Roboto';
    font-weight: 700;
    color: #4C4C4C;
}

h4 {
    font-family: 'Roboto';
    font-weight: 300;
    margin:0 0 20px 0;
    color: #4C4C4C;
}

.attribute {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}

.permitted {
    color: #009912;
    font-weight: 400;
}

.attribute-list {
    display: block;
}

.attribute-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.admin-icon {
    width: 15px;
    height: 15px;
}

.check {
    fill: #009912
}

.star {
    fill: #e8b602;
}

.x {
    fill: #AFAFAF;
}

.not-permitted {
    color: #AFAFAF;
}

.unknown {
    color: #D1A900;
}


.warning {
    fill: #D1A900;
}

.centered {
    display: flex;
    justify-content: space-between;
}

.timestamps {
    font-family: 'Roboto';
    font-size: 12px;
    color: #949494;
}

.badge {
    display: inline-block;
    background-color: #F4F4F4;
    color: #949494;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 10px;
    width: 20px;
    margin-right: 5px;
    text-align: center;
    font-weight: 500;
}

.small-column-link {
    text-decoration: none;
    color: #0060D0;
    font-weight:400;
}

.small-column-link:hover {
    text-decoration: underline;
}

.small-column-item {
    margin-bottom: 10px;
}




/* #homepage_background {
    background-image: url("../img/home_backsplash.jpeg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#homepage_search {
    position: absolute;
    margin-top: 150px;
    margin-left: 150px;
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
} */