<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unica+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" >
  <link rel="stylesheet" type="text/css" href="/css/style.css" >
  <title>Kickflip App</title>
</head>

  
<body>

<nav>
  <div class="nav-container">
    <div class="navbar-left-items">
      <a class="nav-item page-title" href="/">Kickflip</a>
      <a class="nav-item main-nav" href="/parks">Parks</a>
      <a class="nav-item main-nav" href="/parks/new">Add New Park</a>
      <a class="nav-item main-nav" href="/users">Users</a>
    </div>
    <div class="navbar-right-items"> 
      <% if logged_in? == false %>
        <a class="action-link" href="/login">Login</a>
      <% else %>
        <% if current_user.admin_status == true %>
          <svg class="admin-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path class="star" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>        <% end %>  
        <a class="nav-item main-nav" href="/users/<%=current_user.id%>"><%= current_user.username %></a>
        <a class="secondary-link" href="/logout">Logout</a>
      <% end %>
    </div>
  </div>
</nav>

<div class="page-body">
  <div class="page-container">
    <%= yield %>
  </div>
</div>

</body>
</html>