<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Kickflip App</title>
  <meta name="description" content="Kickflip">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <%= yield %>
</body>
</html>